.btn {
    background: rgb(72, 65, 46);
    border: none;
    padding: 1rem 1.3rem;
    font-size: 1rem;
    border-radius: 10px;
}

.card {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

    border: 2px solid rgb(72, 65, 46);
    border-radius: 20px;
    padding: 1rem;

    /* margin-top: 1rem; */
}